{% extends 'sortie/create_sortie.html.twig' %}

{% block title %}<h1>Modifier une sortie</h1>{% endblock %}

    {% block buttons %}
    <div class="buttons">
        <button type="button" class="btn btn-success">Enregistrer</button>
        <button type="submit" class="btn btn-success">Publier la sortie</button>
        <button type="button" class="btn btn-success">Supprimer la sortie</button>
        <button type="reset" class="btn btn-success">Annuler</button>
    </div>

{% endblock %}