{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h2>Accès refusé</h2>

    <div class="texteError">
    <p>
        Vous n'avez pas les droits pour accéder à la page demandée. Vérifiez votre URL, elle est peut être
        mal orthographiée ou <a href="{{ path('home') }}">retour à la page principale</a>.
    </p>
    </div>
{% endblock %}